@model List<Zapatilla>


    <ul class="list-group">
        @foreach (Zapatilla zap in Model)
    {

        <li class="list-group-item">
          <a asp-controller="Zapatillas" asp-action="DetallesZapatillas"   asp-route-idZapatilla="@zap.IdProducto" style="color:red">PRUEBA @zap.Nombre</a>  
        </li>

        <li class="list-group-item">
          <a asp-controller="Zapatillas" asp-action="GetZapatillas" style="color:green">CORRECTO @zap.Nombre</a>  
        </li>
    }
        
    </ul>